{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous sur Fix.R !{% endblock %}

{% block body %}

    <div class="container my-5 bg-light p-3">

        <h1 class="mb-3" style="color: #ff7a0c">Inscrivez-vous sur Fix.R !</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-dark">Inscription</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
