{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Fix.R  !{% endblock %}
        {% block stylesheets %}<link rel="stylesheet" href="/css/home.css"> {% endblock %}
{% block body %}

    <a href="{{ path('home_accueil') }}"><h1 data-heading="R">Fix.R</h1></a>

{% endblock %}
