{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <div class="container my-5 bg-light p-3">

        <h1 class="text-warning mb-3">Publier un article sur Fix.R !</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-outline-warning">{{ button_label | default("Publier l'article") }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
