{% extends 'base.html.twig' %}

{% block title %}Ma page{% endblock %}


{% block body %}
    {% if not app.user %}


{% elseif app.user %}
    <div class="container mt-3">
    <div class="row">
        {% for article in articles %}
            <div class="col my-2">
                <a href="{{ path('articles_show', {'slug': article.slug}) }}"><div class="" style='background-image: url("/images/articles/{{ article.image_name }}"); background-size : cover; height: 200px; width: 300px'>
                        <div class="header text-light h3 ml-2">{{ article.title }}</div>
                        <p class="text-light">{{ article.date ? article.date|date('d-m-Y') : '' }}</p>
                        <button class="btn btn-outline-light ml-2">retirer</button>
                        <i class="fas fa-share-alt fa-2x text-light"></i>
                    </div></a>
            </div>

        {% endfor %}

{% endif %}
    </div>
    </div>
{% endblock %}